<html manifest="manifest.appcache">
<title>OCTOTRAMP</title>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<script language="javascript" type="text/javascript" src="{% static 'libraries/p5.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'waitingscreen.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'deathscreen.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'environment.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'sketch.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'flashyboxofgoodies.js' %}"></script>
	<style> body {padding: 0; margin: 0;} </style>
</head>

<body>
</body>
</html>
